#my_resume {
	background-color: #2bf066;
	color: black;
	text-align: center;
	padding: 60px 80px;
	margin: 0;
}
nav {
	background-color: #333;
	padding: 20px 80px;
}
nav a {
	color: white;
	padding: 20px ;
	text-decoration: none;
}
footer {
	background-color: #333;
	padding: 10px 20px;
	text-align: center;
	color: white;
}
footer p a {
	color: white;
}