#my_resume {
	background-color: #2bf066;
	color: black;
	text-align: center;
	padding: 60px 80px;
	margin: 0;
}
nav {
	background-color: #333;
	overflow: hidden;
}
nav a {
	color: white;
	padding: 14px 20px ;
	text-decoration: none;
	display: block;
	text-align: center;
}
footer {
	background-color: #333;
	padding: 10px 20px;
	text-align: center;
	color: white;
}
footer a {
	color: white;
}
.menu_left {
	float: left;
}
.menu_right {
	float: right;
}
nav a:hover {
	background-color: #DDD;
	color: black;
}
#flex-container {
	display: flex;
}
#left_side {
	background-color: #f1f1f1;
	padding: 30px 40px;
	flex: 30%;
}
#right_side {
	flex: 70%;
	padding: 30px 40px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	text-align: center;
	padding: 8px;
}
th {
	background-color: #04AA6D;
	color: white;
}
